:root {
	--charcoal: #264653;
	--persian-green: #2A9D8F;
	--maize-crayola: #E9C46A;
	--sandy-brown: #F4A261;
	--burnt-sienna: #E76F51;
	--obsidian: #3b00b3;
}


body {
	font-family: sans-serif;
	background-color: var(--charcoal);
	margin: 0px;
}

p {
	margin: 0px;
}

.introduction {
	min-height: 128px;
	height: 220px;
	padding-top: 1%;
}

.card-container {
	margin-left: 30%;
	margin-right: 30%;
	width: 40%;
	min-height: 128px;
	height: 80%;
	border-style: solid;
	border-color: var(--maize-crayola);
	border-radius: 14px;
	padding: 0px 10px;
	padding-left: 22px;
	padding-right: 10px;
	background-color: var(--persian-green);
}

.card {
	height: 80%;
	padding: 4.1% 0px;
}

p, h2, div.button {
	color: #ffffff;
}

.picture-frame {
	float: left;
	margin-right: 2.5%;
}


.about-me {
  background-color: var(--persian-green);
  height: 60px;
  line-height: 60px;
}

h2 {
	text-align: center;
	text-decoration: underline;
	text-decoration-color: var(--obsidian);
	font-size: 30px;
}

div.buttons {
	display:grid;
	grid-template-columns: 25% 25% 25% 25%;
}