:root {
	--charcoal: #264653;
	--persian-green: #2A9D8F;
	--maize-crayola: #E9C46A;
	--sandy-brown: #F4A261;
	--burnt-sienna: #E76F51;
	--obsidian: #3b00b3;
}


body {
	font-family: sans-serif;
	background-color: var(--persian-green);
	margin: 0px;
}

.texto {
	margin: 0px;
}

.introduction {
	min-height: 128px;
	/*! height: 220px; */
	padding: 2% 0px;
	background: var(--charcoal);
}

.card-container {
	max-width: 40%;
	min-height: 128px;
	/*! height: 80%; */
	border-style: solid;
	border-color: var(--maize-crayola);
	border-radius: 14px;
	padding: 0px 10px;
	padding-left: 22px;
	padding-right: 10px;
	background-color: var(--persian-green);
	/*! padding: 1% 30%; */
	/*! align-content: center; */
	margin: auto;
}

.card {
	/*! height: 80%; */
	padding: 4.1% 0px;
}

p, h2, li {
	color: #ffffff;
}

h2 {
	text-align: center;
	text-decoration: underline;
	text-decoration-color: var(--obsidian);
	font-size: 30px;
}

ul {
  text-align: initial;
}

.picture-frame {
	float: left;
	margin-right: 2.5%;
}

.side-text h1 {
	margin: 0px;
}
.side-text .texto {
	font-family: Sofia Sans;
	font-size: 121%;
}

.about-me {
	background-color: var(--persian-green);
	--height: 50px;
	height: var(--height);
	line-height: var(--height);
}

div.buttons {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 17px;
	margin: 9px;
	--height: 35px;
	grid-template-rows: var(--height);
}


.button {
	border-style: solid;
	border-color: var(--burnt-sienna);
	background-color: var(--maize-crayola);
	border-radius: 10px;
	line-height: var(--height);
	text-align: center;
	color: #000;
	font-size: 150%;
	height: var(--height);
}

.button svg {
	margin: -1px 6px;
}

.button:hover {
	filter: brightness(80%);
	cursor:pointer;
}

.description {
	background: var(--charcoal);
	font-size: 135%;
	margin: 2%;
}
.description .texto {
	float: left;
	max-width: 60%;
}
.description img {
	max-width: 27%;
	margin-right: 37px;
	border-style: solid;
	border-width: 4px;
}
.rightside {
	float: right;
}

@media only screen and (max-width: 730px) {
    .card-container {
        max-width: 80%;
        margin: auto;
    }
}

@media only screen and (max-width: 400px) {
    .card-container {
        max-width: 95%;
        margin: 5px;
    }
}


@media only screen and (max-width: 850px) {
	div.buttons {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 50px 50px;
	}
}

@media only screen and (max-width: 470px) {
	div.buttons {
		grid-template-columns: 1fr;
		grid-template-rows: 50px 50px 50px 50px;
	}
	
	.description {
		margin: initial;
	}

	.description img {
		float: initial;
		display: block;
		margin: auto;
		max-width: initial;
		width: 80%;
	}
	
	.description .texto {
		float: initial;
		margin: auto;
		max-width: 89%;
		text-align: center;
		padding: 21px 0px;
	}
	
}

@media only screen and (max-width: 330px) {
	.picture-frame {
		float: initial;
	}
	
	.picture-frame img {
		display: block;
		margin: auto;
	}
}